# solana program dev
migrations/**
programs/**
tests/**
.mocharc.json
Anchor.toml
Cargo.lock
Cargo.toml

# webapp specific files
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
src/app/sandbox/**