@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';
@import '@wallet-ui/tailwind/index.css';

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1789 0.0104 276.3845);
  --card: oklch(0.9855 0.0054 274.9673);
  --card-foreground: oklch(0.1789 0.0104 276.3845);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1789 0.0104 276.3845);
  --primary: oklch(0.7373 0.1610 19.5109);
  --primary-foreground: oklch(0.9749 0.0144 350.0819);
  --secondary: oklch(0.9610 0.0141 268.4930);
  --secondary-foreground: oklch(0.2492 0.0195 271.8658);
  --muted: oklch(0.9496 0.0096 273.3541);
  --muted-foreground: oklch(0.4510 0.0201 259.4124);
  --accent: oklch(0.9124 0.0450 21.3903);
  --accent-foreground: oklch(0.2492 0.0195 271.8658);
  --destructive: oklch(0.6400 0.2205 29.9295);
  --destructive-foreground: oklch(0.9911 0 0);
  --border: oklch(0.9192 0.0055 274.9612);
  --input: oklch(0.9192 0.0055 274.9612);
  --ring: oklch(0.7373 0.1610 19.5109);
  --chart-1: oklch(0.7373 0.1610 19.5109);
  --chart-2: oklch(0.7932 0.1447 348.5181);
  --chart-3: oklch(0.7740 0.1410 303.1941);
  --chart-4: oklch(0.7109 0.1519 257.7480);
  --chart-5: oklch(0.8505 0.1406 159.9996);
  --sidebar: oklch(0.9855 0.0054 274.9673);
  --sidebar-foreground: oklch(0.1789 0.0104 276.3845);
  --sidebar-primary: oklch(0.7373 0.1610 19.5109);
  --sidebar-primary-foreground: oklch(0.9834 0.0100 345.4078);
  --sidebar-accent: oklch(0.9610 0.0141 268.4930);
  --sidebar-accent-foreground: oklch(0.2492 0.0195 271.8658);
  --sidebar-border: oklch(0.9192 0.0055 274.9612);
  --sidebar-ring: oklch(0.7373 0.1610 19.5109);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1697 0.0105 276.3187);
  --foreground: oklch(0.8793 0.0157 269.9672);
  --card: oklch(0.2003 0.0148 266.8334);
  --card-foreground: oklch(0.8793 0.0157 269.9672);
  --popover: oklch(0.2003 0.0148 266.8334);
  --popover-foreground: oklch(0.8793 0.0157 269.9672);
  --primary: oklch(0.7373 0.1610 19.5109);
  --primary-foreground: oklch(0.9834 0.0100 345.4078);
  --secondary: oklch(0.2398 0.0201 267.8254);
  --secondary-foreground: oklch(0.8793 0.0157 269.9672);
  --muted: oklch(0.2608 0.0197 267.9183);
  --muted-foreground: oklch(0.6599 0.0155 268.4227);
  --accent: oklch(0.2796 0.0695 20.0727);
  --accent-foreground: oklch(0.8793 0.0157 269.9672);
  --destructive: oklch(0.6400 0.2205 29.9295);
  --destructive-foreground: oklch(0.9911 0 0);
  --border: oklch(0.2808 0.0136 267.0710);
  --input: oklch(0.2808 0.0136 267.0710);
  --ring: oklch(0.7373 0.1610 19.5109);
  --chart-1: oklch(0.7373 0.1610 19.5109);
  --chart-2: oklch(0.7932 0.1447 348.5181);
  --chart-3: oklch(0.7740 0.1410 303.1941);
  --chart-4: oklch(0.7109 0.1519 257.7480);
  --chart-5: oklch(0.8505 0.1406 159.9996);
  --sidebar: oklch(0.2003 0.0148 266.8334);
  --sidebar-foreground: oklch(0.8793 0.0157 269.9672);
  --sidebar-primary: oklch(0.7373 0.1610 19.5109);
  --sidebar-primary-foreground: oklch(0.9834 0.0100 345.4078);
  --sidebar-accent: oklch(0.2796 0.0695 20.0727);
  --sidebar-accent-foreground: oklch(0.8793 0.0157 269.9672);
  --sidebar-border: oklch(0.2808 0.0136 267.0710);
  --sidebar-ring: oklch(0.7373 0.1610 19.5109);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}